<% if headhunter_signed_in? || candidate_signed_in?%>
  <% if @profile.social_name.present? %>
    <h3><%= @profile.social_name%><h3>
  <% else %>
    <h3><%= @profile.name%></h3>
  <% end %>
  <p>
    <strong> Foto do perfil:</strong><br>
    <% if @profile.photo.attached? %>
      <%= image_tag( @profile.photo, size: 100) %>
    <% end %>
  </p>
  <dl>
    <dt>Status do perfil:</dt>
    <dd><%= @profile.status %></dd>
    <dt>Formação:</dt>
    <dd><%= @profile.academic_background %></dd>
    <dt>Sobre você:</dt>
    <dd><%= @profile.description %></dd>
    <dt>Experiência profissional:</dt>
    <dd><%= @profile.professional_background %></dd>
    <dt>Linkedin:</dt>
    <dd><%= @profile.social_network %></dd>
    <dt>Data de nascimento:</dt>
    <% if @profile.birth_date.present?%>
      <dd><%= l(@profile.birth_date) %></dd>
    <% end %>
  </dl>	
<% end %>
<% if candidate_signed_in? %>
  <%= link_to 'Editar perfil', edit_candidate_profile_path(@profile) %>
  <%= link_to 'Voltar', root_path %>
<% elsif headhunter_signed_in? %>
  <%= link_to 'Voltar', :back %>
  <%= link_to 'Escrever comentário', new_candidate_profile_comment_path(@profile.id) %>
<% end %>  
