<h1>Vagas:</h1>
<% if @jobs.empty?%>
  <p>Não existem vagas cadastradas</p>
<% end %>

<%= form_with url: search_jobs_path, local: true, method: :get do %>  
  <%= label_tag :q, 'Buscar vagas'%>
  <%= text_field_tag :q %>
  <%= submit_tag 'Buscar'%>
<% end %>

 <% @jobs.each do |job| %>
   <h3><%= link_to job.title, job_path(job) %></h3>
    <p><%= job.description%></p>
 <% end %>
  

<% if headhunter_signed_in? %>
  <%= link_to 'Cadastrar nova vaga', new_job_path %>
<% end %>    

<%= link_to 'Voltar', root_path %>