<h3><%= @job.title %></h3>

<dl>
  <dt>Descrição da vaga:</dt>
  <dd><%= @job.description %></dd>
  <dt>Habilidades desejadas:</dt>
  <dd><%= @job.desired_skills %></dd>
  <dt>Nível:</dt>
  <dd><%= @job.skill_level %></dd>
  <dt>Contratação:</dt>
  <dd><%= @job.contract_type %></dd>
  <dt>Localização:</dt>
  <dd><%= @job.localization %></dd>
  <dt>Faixa salarial:</dt>
  <dd><%= @job.salary %></dd>
  <dt>Data limite para aplicação:</dt>
  <dd><%= @job.limit_date %></dd>
</dl>
<% if headhunter_signed_in? %>
  <% if current_headhunter.id.eql?(@job.headhunter_id) %>	
    <%= link_to 'Editar vaga', edit_job_path(@job) %>
  <% end %>
<% end %>
<% if candidate_signed_in? %>
  <% if current_candidate.candidate_profile.complete? %>
    <%= link_to 'Candidatar-se' %>
    <% else %>
    <p>Você deve completar seu perfil para poder candidatar-se as vagas</p>
  <% end %>
<% end %> 

<%= link_to 'Voltar', root_path %>