<%= render @job %>

<% if headhunter_signed_in? %>
  <% if current_headhunter.id.eql?(@job.headhunter_id) %>	
    <%= link_to 'Editar vaga', edit_job_path(@job) %>
    <% unless @job.closed? %>
      <%= link_to 'Encerrar vaga', close_job_path(@job), method: :post, data: { confirm:'Deseja encerrar esta vaga?'} %>
    <% end %>
  <% end %>
  <% if @job_applications.empty? %>
    <p>Ainda não há candidaturas para esta vaga.</p>
  <% else %>
    <% @job_applications.each do |job_application| %>
      <%= link_to "Ver perfil de #{job_application.candidate.candidate_profile.name}", candidate_profile_path(job_application.candidate_id)%>
      <%= link_to "Ver candidatura de #{job_application.candidate.candidate_profile.name}", job_application_path(job_application.id)%>
    <% end %>
  <% end %>
<% end %>

<% if candidate_signed_in? %>
  <% if current_candidate.candidate_profile.complete? %>
    <%= link_to 'Candidatar-se', apply_for_job_path%>
    <% else %>
    <p>Você deve completar seu perfil para poder candidatar-se as vagas</p>
  <% end %>
<% end %> 

<%= link_to 'Voltar', root_path %>