<% if candidate_signed_in?%>
  <h3>Minha Candidatura:</h3>
<% elsif headhunter_signed_in? %>
  <h3>Candidatura de:</h3>
  <p><%= @job_application.candidate.candidate_profile.name %></p>
<% end %>

<h4><%= @job_application.job.title %></h4>

<dl>
  <% if @job_application.declined? %>
    <dt>Feedback:</dt>
    <dd><%=@job_application.feedback %></dd>
  <% end %>
  <dt>Descrição da vaga:</dt>
  <dd><%= @job_application.job.description %></dd>
  <dt>Carta de apresentação:</dt>
  <dd><%= @job_application.cover_letter %></dd>
</dl>

<% if candidate_signed_in?%>
  <%= link_to 'Voltar', jobs_path %>
<% elsif headhunter_signed_in? %>
  <%= render partial: 'headhunter_actions', locals: {job_application: @job_application}%>
<% end %>
