<% if headhunter_signed_in?%>
  <h3>Proposta a candidatura de:</h3>
  <h4><%= @job_proposal.job_application.candidate.candidate_profile.name %></h4>
<% elsif candidate_signed_in? %>
  <h3>Proposta: </h3>
<% end %>

<dl>
  <dt>Vaga:</dt>
  <dd><%= @job_proposal.job_application.job.title %></dd>
  <dt>Descrição da vaga:</dt>
  <dd><%= @job_proposal.job_application.job.description %></dd>
</dl>

<% if headhunter_signed_in?%>
  <% unless @job_proposal.submitted? %>
    <% if @job_proposal.feedback.present?%>
      <h3>Feedback:</h3>
      <p><%= @job_proposal.feedback %>
    <% else %>  
      <p>O candidato não enviou nenhum feedback sobre esta proposta</p>
    <% end %>
  <% end %>  
<% end %>

<h3>Proposta:</h3>
<dl>
  <dt>Data de início:</dt>
  <dd><%= l(@job_proposal.start_date) %></dd>
  <dt>Salário:</dt>
  <dd><%= @job_proposal.salary %></dd>
  <dt>Benefícios:</dt>
  <dd><%= @job_proposal.benefits %></dd>
  <dt>Atribuições da vaga:</dt>
  <dd><%= @job_proposal.job_roles %></dd>
  <dt>Expectativas da empresa:</dt>
  <dd><%= @job_proposal.job_expectations %></dd>
  <dt>Informações adicionais:</dt>
  <dd><%= @job_proposal.additional_infos %></dd>
</dl>
<% if headhunter_signed_in?%>
  <%= link_to 'Voltar', job_path(@job_proposal.job_application.job.id)%>
<% elsif candidate_signed_in?%>
  <%= link_to 'Recusar proposta', decline_job_proposal_path(@job_proposal)%>
  <%= link_to 'Voltar', job_proposals_path%>
<% end %>