<!DOCTYPE html>
<html>
  <head>
    <title>MyNewJob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if headhunter_signed_in? %>
        <span>Olá <%= current_headhunter.email%></span>
        <%= link_to 'Sair', destroy_headhunter_session_path, method: :delete %>
      <% elsif !signed_in? %>
        <%= link_to 'Acessar como Headhunter', new_headhunter_session_path %>  
        <%= link_to 'Tenho uma vaga', new_headhunter_registration_path %>
        
      <% end %>
        
    
      <% if candidate_signed_in? %>
        <span>Olá <%= current_candidate.email%></span>
        <%= link_to 'Sair', destroy_candidate_session_path, method: :delete %>
      <% elsif !signed_in? %>
        <%= link_to 'Acessar como Candidato', new_candidate_session_path %>  
        <%= link_to 'Quero uma vaga', new_candidate_registration_path %>
      <% end %>    

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render partial: '/shared/menu' %>

    <%= yield %>
  </body>
</html>
